@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 3.9%;
  
      --card: 0 0% 100%;
      --card-foreground: 0 0% 3.9%;
   
      --popover: 0 0% 100%;
      --popover-foreground: 0 0% 3.9%;
   
      --primary: 0 0% 9%;
      --primary-foreground: 0 0% 98%;
   
      --secondary: 0 0% 96.1%;
      --secondary-foreground: 0 0% 9%;
   
      --muted: 0 0% 96.1%;
      --muted-foreground: 0 0% 45.1%;
   
      --accent: 0 0% 96.1%;
      --accent-foreground: 0 0% 9%;
   
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
  
      --border: 0 0% 89.8%;
      --input: 0 0% 89.8%;
      --ring: 0 0% 3.9%;
   
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 0 0% 3.9%;
      --foreground: 0 0% 98%;
   
      --card: 0 0% 3.9%;
      --card-foreground: 0 0% 98%;
   
      --popover: 0 0% 3.9%;
      --popover-foreground: 0 0% 98%;
   
      --primary: 0 0% 98%;
      --primary-foreground: 0 0% 9%;
   
      --secondary: 0 0% 14.9%;
      --secondary-foreground: 0 0% 98%;
   
      --muted: 0 0% 14.9%;
      --muted-foreground: 0 0% 63.9%;
   
      --accent: 0 0% 14.9%;
      --accent-foreground: 0 0% 98%;
   
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
   
      --border: 0 0% 14.9%;
      --input: 0 0% 14.9%;
      --ring: 0 0% 83.1%;
    }
  }
   
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

@layer components {
  .navitem.active {
    @apply text-white;
  }
  .navitem {
    @apply text-gray-600 hover:text-white transition-colors duration-500;
  }
  .glow {
    box-shadow:   inset 0 0 50px #ffffff63,
    inset 20px 0 80px #00008b80,   
    inset -20px 0 80px #01322056,  
    inset 20px 0 300px #00008b80,  
    inset -20px 0 300px #01322056, 
    0 0 50px #ffffff63,            
    -10px 0 80px #00008b80,        
    10px 0 80px #01322056;         
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 27vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: 0;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  width: 100vw;
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  user-select: none;
  transform: translateX(50%);
  &.loading {
    .image {
      opacity: 0;
    }
  }
  .image {
    width: 40vmin;
    height: 56vmin;
    object-position: 100% center;
  }
}
