@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navitem.active {
    @apply text-white;
  }
  .navitem {
    @apply text-gray-600 hover:text-white transition-colors duration-500;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 27vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
  z-index: 0;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  width: 100vw;
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  user-select: none;
  transform: translateX(50%);
  &.loading {
    .image {
      opacity: 0;
    }
  }
  .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
  }
}
